body{
    font-size: 14px;
    /*以下没有定义中文字体，没有定义，默认是宋体*/
    font-family: Arial,Verdana;
    color: #666;
    /*网页常用字体颜色：
    深灰：#222/#333
    浅灰：#999
    很浅的灰：#CCC
    */
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
a:hover{
    text-decoration: underline;
    color: #e4393c;
}
s,u{
    /*删除线也是一种text-decoration,设为none就可以去掉*/
    text-decoration: none;
}

/*以下元素都是定宽*/
.wrap,#header,#navi,#content,#footer{
    width: 1210px;
    margin: 0 auto;

}

/******** header_link 的样式  *************/
#header_link{
    /*header_link 里面是100% 里面的内容是定宽*/
    width: 100%;
    height: 30px;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}
#header_link a:hover{
    color: #ff0700;
}
#shoucang{
    width:80px;
    float: left;
}
#shoucang img{
    margin: 0 4px;
}

.h1_right{
    float: right;
}
#user{
    float: left;
}
.devider {
    color: #ccc;
    margin: 0 3px;
    float: left;

}
#h1_content{
    float: left;
}
#h1_content a{
    float: left;
}
#service{
    float: left;
}

.vip{
    background: url(../images/vip.jpg) no-repeat;
    background-position: left 9px;
    padding-left: 27px;

}
.dakehu{
    background: url(../images/dakehu.jpg) no-repeat;
    background-position: left 9px;
    padding-left: 30px;

}
.phone{
    background: url("../images/iconlist_2.png") no-repeat -127px -356px ;
    padding-left: 19px;
}
.phone:hover{
    /*不要再设置为backgroud*/
    background-position: -127px -395px;
}

#service>a{
    background:url("../images/jt_down.jpg") no-repeat 64px center  ;
    margin-top: 2px;
    line-height: 26px;
    padding: 0 18px 0 5px;
    position: relative;
    z-index: 5;

}
#service>a:hover{
    padding: 0 17px 0 4px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-bottom: none;
    padding-bottom: 10px;
    background-image: url("../images/jt_up.jpg");

}
#service{
    position: relative;
    border: 1px solid #ddd;
}
#service_pop{
    position: absolute;
    left: 0px;
    top: 29px;;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0px 1px 2px 1px #ddd;
    padding: 0 5px;
    width: 60px;
    display: none;
    z-index: 1;
}
/***** header的样式 ********/

#header{
    height: 60px;
    padding: 15px 0;
}
#logo,#search,.hd_btns{
    float: left;
}
#logo{
    width: 300px;
    height: 60px;
    background: url("../images/logo-201305.png") no-repeat;
}
#logo>a{
    display: block;
    width: 270px;
    height: 60px;
}
#search {
    width: 510px;
    padding: 4px 86px 0 0;
}
.search_kuang{
    width: 494px;
    height: 30px;
    margin-bottom: 5px;
    border: 3px solid #e4393c;
    background: #e4393c;
}
.search_kuang input{
    outline: none;
    border: none;
    font-size: 14px;
}
.s_text{
    width: 405px;
    line-height: 20px;
    padding: 5px;
    background: #fff;
    border: none;
}
.s_btns{
    width: 75px;
    height: 30px;
    background: #e4393c;
    color: #fff;
    font-weight: bold;
    border: none;
}
#search_main{
    position: relative;
}
#search_pop{
    position: absolute;
    width: 416px;
    box-shadow: 0px 1px 3px 1px #999;
    left: 0;
    top: 35px;
    border: 1px solid #e4393c;
    background: #fff;
    height: 200px;
    display: none;
}
#search_pop li{
    padding: 1px 6px ;
    line-height: 22px;
    height: 22px;
    cursor: pointer;
}
#search_pop li:hover{
    background: #ffdfc6;
}
#search_pop span{
    color:#aaa;
    float:right;
}
#search_pop a{
    float: left;
}
.sub_pop li{
    /*文本缩进*/
    text-indent: 10px;
}
.sub_pop b{
    color: #e4393c;
}
.sub_pop{
    border-bottom:1px solid #ccc ;
}
#hot_words{
    height: 18px;
}
#hot_words h4,#hot_words li,#hot_words ul{
    float: left;
}
#hot_words a{
    color: #999;
}
#hot_words li{
    margin-right: 5px;
}
#hot_words h4{
    font-weight:normal;
    font-size: 14px;
}
.my_jd,.shop_cart{
    width: 76px;
    height: 30px;
    margin-top: 12px;
    background: url(../images/iconlist_2.png) no-repeat -116px -24px #f7f7f7;
    padding: 0 4px 0 30px;
    border: 1px solid #efefef;
    line-height: 27px;
    display: inline-block;
}
.hd_btns i{
    /*实现箭头效果*/
    border: 5px solid transparent;
    border-top-color:#ccc ;
    position: relative;
    top: 10px;
    right:-5px ;
}

#navi{
    height: 40px;
}
#recent{
    height: 173px;
}
#footer{
    height: 180px;
}
