body{
    font-size: 14px;
    /*以下没有定义中文字体，没有定义，默认是宋体*/
    font-family: Arial,Verdana;
    color: #666;
    /*网页常用字体颜色：
    深灰：#222/#333
    浅灰：#999
    很浅的灰：#CCC
    */
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
a:hover{
    text-decoration: underline;
    color: #e4393c;
}
s,u{
    /*删除线也是一种text-decoration,设为none就可以去掉*/
    text-decoration: none;
}

/*以下元素都是定宽*/
.wrap,#header,#navi,#content,#footer{
    width: 1210px;
    margin: 0 auto;

}

/******** header_link 的样式  *************/
#header_link{
    /*header_link 里面是100% 里面的内容是定宽*/
    width: 100%;
    height: 30px;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}
#header_link a:hover{
    color: #ff0700;
}
#shoucang{
    width:80px;
    float: left;
}
#shoucang img{
    margin: 0 4px;
}

.h1_right{
    float: right;
}
#user{
    float: left;
}
.devider {
    color: #ccc;
    margin: 0 3px;
    float: left;

}
#h1_content{
    float: left;
}
#h1_content a{
    float: left;
}
#service{
    float: left;
}

.vip{
    background: url(../images/vip.jpg) no-repeat;
    background-position: left 9px;
    padding-left: 27px;

}
.dakehu{
    background: url(../images/dakehu.jpg) no-repeat;
    background-position: left 9px;
    padding-left: 30px;

}
.phone{
    background: url("../images/iconlist_2.png") no-repeat -127px -356px;
    padding-left: 19px;
}
.phone:hover{
    /*不要再设置为backgroud*/
    background-position: -127px -395px;
}

#service>a{
    background:url("../images/jt_down.jpg") no-repeat right center ;
    padding-right: 12px;
    border: 1px solid #ddd;
}
#service>a:hover{
    background-image: url("../images/jt_up.jpg");
}
/***** header的样式 ********/

#header{
    height: 60px;
    padding: 15px 0;
}
#navi{
    height: 40px;
}
#recent{
    height: 173px;
}
#footer{
    height: 180px;
}
