@media (min-width: 768px) {
  #doc {
    width: 750px;
  }
  #doc .navbar-cart {
    width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
html {
  font-size: 72px;
}
.nowrap-color {
  background: #f2f2f2;
  height: 8px;
  width: 100%;
}
.form-horizontal .control-label {
  color: #727272;
  text-align: left;
}
.form-horizontal .form-control {
  border: none;
}
.form-horizontal .form-group {
  border: none ;
  border-bottom: 1px solid #e5e5e5;
}
.flex-direction-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  #doc .navbar-fixed-top {
    width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
#navbar .navbar-icon {
  height: 0.78rem;
  width: 0.78rem;
}
#navbar .icon-chevronleft {
  display: block;
  height: 0.78rem;
  width: 0.78rem;
  background: url(/shop/run/dist/image/user.png) center no-repeat;
  background-size: 0.46rem 0.46rem;
  background-color: #333;
  opacity: .75;
  border-radius: 50% ;
}
.navbar {
  min-height: 45px;
  width: 100%;
  border: none;
}
.container {
  padding: 0;
}
.content-panel {
  background: #FFF;
}
.content-outside-title {
  line-height: 36px;
  padding: 0 16px;
  font-size: 15px;
}
.theme-text {
  color: #df3e0f;
}
.nowrap-content {
  overflow: hidden;
}
.navbar-fixed-foot {
  height: .98rem;
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 1030;
  bottom: 0;
  border-top: 2px solid #ccc;
  background: #fff;
}
.navbar-fixed-foot .introduce {
  text-align: center;
  font-size: 12px ;
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.navbar-fixed-foot .shop-classify {
  float: left;
  height: 0.98rem;
  width: 1.3rem;
  position: relative;
}
.navbar-fixed-foot .shop-classify .icon {
  background: url(image/classify.png) center no-repeat;
  background-size: 0.45rem 0.45rem;
}
.navbar-fixed-foot .shop-contact {
  float: left;
  height: 0.98rem;
  width: 1.3rem;
  position: relative;
}
.navbar-fixed-foot .shop-contact .icon {
  background: url(image/contact.png) center no-repeat;
  background-size: 0.45rem 0.45rem;
}
.navbar-fixed-foot .shop-enshrine {
  float: right;
  height: 0.98rem;
  width: 1.3rem;
  position: relative;
}
.navbar-fixed-foot .shop-enshrine .icon {
  background: url(image/contact.png) center no-repeat;
  background-size: 0.45rem 0.45rem;
}
.navbar-fixed-foot .icon {
  height: .5rem;
  width: .5rem;
  position: absolute;
  top: .06rem;
  left: 50%;
  margin-left: -0.25rem;
}
@media (min-width: 768px) {
  #doc .navbar-fixed-bottom {
    width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
