@media (min-width: 768px) {
  #doc {
    width: 750px;
  }
  #doc .navbar-cart{
    width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto
  }
}
html{
  font-size: 72px;
}
.nowrap-color{
  background: #f2f2f2;
  height: 8px;
  width: 100%;
}
.form-horizontal .control-label {
  color: #727272;
  text-align: left;
}
.form-horizontal .form-control {
  border: none;
}
.form-horizontal .form-group{
  border:none ;
  border-bottom: 1px solid #e5e5e5
}

