@media (min-width: 768px) {
  #doc {
    width: 750px;
  }
  #doc .navbar-cart {
    width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
html {
  font-size: 72px;
}
div {
  border: 1px solid #e4393c;
}

.navbar-title{
    line-height: .68rem;
    height:.68rem;
    text-align: center;
}