<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>我的</title>

    <link href="../../uclbrt/css/bootstrap.css" rel="stylesheet">
    <link href="../../run/src/PublicPage/center.css" rel="stylesheet">
    <link href="../../run/src/common.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="../../jslib/html5shiv/html5shiv.min.js"></script>
    <script src="../../jslib/html5shiv/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="doc" class="container">
    <div id="doc-body">
        <div class="banner-container">
            <a href="#" class="back-home"></a>
            <div class="swiper-container"></div>
            <div class="center-login-content">
               <div class="unlisted ">
                   <div class="head-pic"></div>
                   <div class="btn-login">登录/注册</div>
               </div>
               <div class="already-logged hidden">
                   <div class="head-pic"></div>
                   <div class="mobile">13480251015</div>
               </div>
            </div>
        </div>
        <div class="order-content">
            <div class="mine-order">
                <div class="order-left">我的订单</div>
                <div class="right-icon"></div>
                <div class="order-right">查看更多</div>
            </div>
            <div class="nowrap-color"></div>
            <div class="status-content flex-direction-row">
                <div class="status-list flex-1" >
                    <div class="status-icon "><div class="num"></div></div>
                    <div class="status-type">待付款</div>
                </div>
                <div class="status-list flex-1" >
                    <div class="status-icon "><div class="num"></div></div>
                    <div class="status-type">待发货</div>
                </div>
                <div class="status-list flex-1">
                    <div class="status-icon "><div class="num"></div></div>
                    <div class="status-type">待收货</div>
                </div>
                <div class="status-list flex-1" >
                    <div class="status-icon "><div class="num"></div></div>
                    <div class="status-type">退款/售后</div>
                </div>
            </div>
        </div>
        <div class="feature-content">
        </div>
        <div class="nowrap-color"></div>
    </div>

</div>
</body>
<script src="../../jslib/jquery/1.11.2/jquery.min.js"></script>
<script src="../../jslib/bookstrap/bootstrap.js"></script>
<script src="../../run/src/PublicPage/center.js"></script>

</html>