<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
 <!--   <meta name=”format-detection” content=”telephone=no” />
你明明写的一串数字没加链接样式，而iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！想去掉这个拨号链接该如何操作呢？这时我们的meta又该大显神通了，代码如下：
telephone=no就禁止了把数字转化为拨号链接！
telephone=yes就开启了把数字转化为拨号链接，要开启转化功能，这个meta就不用写了,在默认是情况下就是开启！/>-->

    <title>我的</title>

    <link href="../../uclbrt/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../jslib/swiper/swiper.min.css">

    <link href="../../run/src/PublicPage/index.css" rel="stylesheet">
    <link href="../../run/src/common.css" rel="stylesheet">
    <style>
        .container{
            border: 1px solid #396aff;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="../../jslib/html5shiv/html5shiv.min.js"></script>
    <script src="../../jslib/html5shiv/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="doc" class="container">
    <div id="doc-header" class="navbar navbar-fixed-top">
        <a href="/shop/PublicPage/center.html" class="pull-right navbar-icon"><span class="iconfont icon-chevronleft"></span></a>
    </div>
    <div id="doc-body">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="cover-images" src="../../run/src/image/changlian.jpg">
                </div>
            </div>
            <div class="title-container">
                <div class="navbar-title typo-text-white-deep">畅联科技</div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="col-xs-6 " id="personalCenter"><a data-toggle="tab" href="#manage-panel"  >店铺介绍</a></li>
            <li class="col-xs-6 active" id="shop-pogoing"><a data-toggle="tab" href="#shop-panel" >掌柜优品</a></li>
        </ul>
        <div id="manage-panel" class="hidden">
            <div class="panel">
                <div class="panel-body" style="text-align: center">
                    <!-- 右上角的义卖总额显示，收藏人数显示-->
                    <div class="collect-container">
                        <div class=" theme-text">
                            <span>义卖总额：￥</span>
                        </div>
                        <div class="collect-box">
                            <span class="collect"></span>人收藏
                        </div>
                    </div>
                    <div class="main-pic-start">
                         <div class="main-pic"></div>
                    </div>
                    <div class="vertical-margin nowrap-content"><span class="hotel-panel-contact">畅联科技</span></div>
                    <div class="vertical-margin nowrap-content " style="height: 0.38rem;">
                        <div class="sign-content">
                            <div class="sign">物美价廉</div>
                            <div class="sign">薄利多销</div>
                            <div class="sign">放心购买</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-outside-title"><span class="title-before"></span>店铺信息</div>
            <div class="panel">
                <div class="panel-body">
                    <div class="vertical-margin nowrap-content">
                        地址：
                        <span class="stores-panel-address">广州市天河区彩频路9号</span>
                    </div>
                    <div class="vertical-margin nowrap-content">
                        电话：
                        <span class="stores-panel-mobile">13480251015</span>
                    </div>
                    <div class="stores-more-info hidden">
                        <div class="vertical-margin nowrap-content">微信：<span class="stores-panel-wechat">38383838888</span></div>
                        <div class="vertical-margin">简介：<span class="stores-description">畅联科技旗下专卖店，全场0.01元大甩卖！走过路过不要错过！！！</span></div>
                    </div>
                    <div class="stores-more-info-trigger text-center">
                        <span class="iconfont"></span>
                    </div>
                </div>
            </div>
            <div class="content-outside-title"><span class="title-before"></span>店长笔记</div>
            <div class="panel">
                <div class="panel-body" id="hotel-panel-special-container">
                    <div class="hotel-panel-special">g h</div>
                    <div class="hotel-panel-special-img">
                        <img class="background-cover" style="width: 100%;" src="http://booking.uclbrt.com/api/uploads/noteImage/20170914/f63e6d5345af4ac833348325cc1ccfb3.jpg">
                    </div>
                    <div class="vertical-margin"><a href="#" class="theme-text more-zhangGui-info">阅读全文</a></div>
                </div>
            </div>


        </div>
        <div id="shop-panel">
            <div class="content-outside-title"><span class="title-before"></span>商家推荐</div>
            <div class="panel">
                <div class="panel-body shop-panel-content" >
                    <div id="shopContent" >
                        <div class="col-xs-6 shopItem">
                            <div class="shop-img-content">
                                <div class="panel-shop-img">
                                    <div class="shop-cover" style="background-image: url('http://booking.uclbrt.com/api/uploads/goodsImage/20170815/539eeeb2e4adedb795b36c6fb4f763b6.jpg'); background-size: cover; background-position: center center;"></div>
                                    <div class="rummage-sale">义卖</div>
                                </div>
                            </div>
                            <div class="layout-content"></div>
                        </div>
                        <div class="col-xs-6 shopItem">
                            <div class="shop-img-content">
                                <div class="panel-shop-img">
                                    <div class="shop-cover" style="background-image: url('http://booking.uclbrt.com/api/uploads/goodsImage/20170815/539eeeb2e4adedb795b36c6fb4f763b6.jpg'); background-size: cover; background-position: center center;"></div>
                                    <div class="rummage-sale">义卖</div>
                                </div>
                            </div>
                            <div class="layout-content"></div>
                        </div>
                    </div>
                    <div class="more-content"><div class="more">更多</div></div>
                </div>
            </div>
            <div class="content-outside-title"><span class="title-before"></span>热销商品</div>
            <div class="panel">
                <div class="panel-body hotsale-panel-content" >
                    <div id="hotsaleContent" >
                        <div class="col-xs-6 shopItem">
                            <div class="shop-img-content">
                                <div class="panel-shop-img">
                                    <div class="shop-cover" style="background-image: url('http://booking.uclbrt.com/api/uploads/goodsImage/20170815/539eeeb2e4adedb795b36c6fb4f763b6.jpg'); background-size: cover; background-position: center center;"></div>
                                    <div class="rummage-sale">义卖</div>
                                </div>
                            </div>
                            <div class="layout-content"></div>
                        </div>
                        <div class="col-xs-6 shopItem">
                            <div class="shop-img-content">
                                <div class="panel-shop-img">
                                    <div class="shop-cover" style="background-image: url('http://booking.uclbrt.com/api/uploads/goodsImage/20170815/539eeeb2e4adedb795b36c6fb4f763b6.jpg'); background-size: cover; background-position: center center;"></div>
                                    <div class="rummage-sale">义卖</div>
                                </div>
                            </div>
                            <div class="layout-content"></div>
                        </div>
                    </div>
                    <div class="more-content"><div class="more">更多</div></div>
                </div>
            </div>
            <div id="doc-foot" class="navbar-fixed-bottom navbar-fixed-foot container">
                <div class="shop-classify">
                    <div class="icon"></div>
                    <div class="introduce">分类</div>
                </div>
                <a class="shop-contact btn-link" href="tel:13480251015">
                    <div class="icon"></div>
                    <div class="introduce">联系卖家</div>
                </a>
                <div class="shop-enshrine">
                    <div class="icon"></div>
                    <div class="introduce">收藏</div>
                </div>
            </div>
        </div>
        <div class="classify-content">
            <div class="classify-box">
                <div class="search-content">
                    <input type="text" name="" id="searchInfo" value="" placeholder="请输入商品名" />
                    <div class="search">搜索</div>
                </div>
                <div id="classifyContent">
                    <div class="shop-content">
                        <div class="classify-mian">
                            <div class="mian-left">商品</div>
                            <div class="mian-right revert"></div>
                        </div>
                        <div class="shop-list-content classify-shop"></div>
                    </div>
                    <div class="shop-content">
                        <div class="classify-mian ">
                            <div class="mian-left">服务</div>
                            <div class="mian-right"></div>
                        </div>
                        <div class="shop-list-content classify-serve"></div>
                    </div>
                    <div class="shop-content">
                        <div class="classify-mian ">
                            <div class="mian-left">义卖</div>
                            <div class="mian-right"></div>
                        </div>
                        <div class="shop-list-content classify-other"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="../../jslib/jquery/1.11.2/jquery.min.js"></script>
<script src="../../jslib/bookstrap/bootstrap.js"></script>
<script src="../../run/src/PublicPage/index.js"></script>
<script type="text/javascript" src="../../jslib/swiper/swiper.min.js"></script>


</html>