body{
    font-size: 12px;
    /*字体颜色*/
    color: #333;
    /* 设置body为灰，也可以设置header,content,tabs 每个div设置为灰色*/
    background: #f2f2f2;
    font-family: Arial,sans-serif;
}
/* 不同浏览器 html元素都有不同的margin和padding，所以要设置margin为0，padding为0*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#navi{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eee ;
    background: #fafafa;
    line-height: 30px;
}
#tabs,#header,#content,#footer{
    width: 990px;
    /* tabs等div 居中显示*/
    margin: 0 auto;
}
#tabs{
    height: 33px;
    line-height: 33px;
}
#jd_logo{
    background-image: url("../css-demo/images/jd_logo.png");
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    vertical-align: middle;
}
#header span{
    font-size:2em;
}